html {
  font-family: "Noto Serif", serif;
}

header {
  background-color: #70ad55;
  color: #fff;
}

input, select {
  border-color: #6e8c62;
}

hr, fieldset {
  border-color: #70ad55;
}

button {
  background-color: #6e8c62;
  color: #fff;
}

footer {
  background-color: #70ad55;
  color: #fff;
}
